.paper {
  margin: 15px;
  padding: 20px;
  flex-grow: 1;
  flex-basis: 50%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-size: 300px;
  font-weight: 500;
  background-color: #eee;
  box-shadow: rgba(51, 51, 51, 0.5) 3px 3px 10px 0;
}