body {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  background-color: #f4f1f1;
}

.bodyContent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}